.header-fixed {
  padding: 1rem;
  display: none;
  grid-template-columns: 5fr 0.5fr 0fr;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  background-color: #ffffff;
}
.content-header {
  margin: 0 2rem;
}
.header-fixed ul li {
  border: 0 !important;
  padding: 0 0.5rem !important;
}
.header-fixed ul li a {
  color: initial;
  text-decoration: none;
  font-size: 0.97rem;
}
.header-fixed ul li a strong {
  font-family: "Roboto Condensed", san-serif;
  font-size: 1.07rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000;
}
.header-fixed ul li a span {
  color: #495057;
  font-weight: 300;
}

.header-fixed img {
  max-width: 80px;
}
.img-header__fixed {
  position: relative;
}
.img-header__fixed span {
  position: absolute;
  left: 18px;
  top: 8px;
  color: white;
}

@media (min-width: 992px) {
  .header-fixed {
    display: grid;
  }
}

@media (min-width: 1200px) {
  .content-header {
    margin: 0 10rem;
  }
}
